/* Применится ко всем абзацам на странице */
/* p {
    font-size: 24px;
  }
   */
  /* Применится ко всем ссылкам на странице */
   /* a {
    text-decoration: none;
  }  */

/* Применится ко всем тегам с классом title */
/* .title {
    font-weight: 500;
  }
   */
  /* Применится ко всем тегам с классом text */
  /* .text {
    color: brown;
    font-size: 18px;
  }
   */
  /* Применится ко всем тегам с классом link */
  /* .link {
    text-decoration: none;
  } */

  /* Общие стили для всех типов оповещений */
/* .alert {
    font-size: 24px;
    font-weight: 500;
  }
   */
  /* Общие стили для всех типов оповещений */
/* .alert {
  font-size: 24px;
  font-weight: 500;
} */

/* Специфические стили для каждого типа */
/* .success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
} */

/* #title {
    font-weight: 500;
    color: orange;
  } */

/* ❌ Применится ко всем ссылкам в документе */
/* a {
    color: blue;
    text-decoration: none;
  }
   */
/* ✅ Применится только к ссылкам которые лежат внутри тега с классом social-links */
/* .social-links a {
    color: blue;
    text-decoration: none;
  }   */

/* ❌ Не решает задачу */
/* .menu li {
    border: 1px solid tomato;
  } */

  /* ✅ То что нужно */
/* .menu > li {
    border: 1px solid tomato;
  } */
/* 
  a[title] {
    color: teal;
  } */

/* Непривычное форматирование фигурных скобок это нормально */
/* a[href="https://htmlreference.io"]
{
  color: teal;
}

a[href="https://cssreference.io"]
{
  color: orange;
}

a[href="https://www.youtube.com"]
{
  color: tomato;
} */

/* .link {
    color: teal;
  }
.link:hover {
    color: tomato;
  } */
/* 
  .social-links .link {
    color: teal;
  }
  
  .social-links .link:hover {
    color: tomato;
  } */

  /* .social-links .link {
    color: teal;
  }
  
  /* Два и более селекторов разделяются запятой */
  /* .social-links .link:hover,
  .social-links .link:focus {
    color: orange;
  }  */

  /* .social-links .link {
    color: teal;
  }
  
  .social-links .link:hover,
  .social-links .link:focus {
    color: orange;
  }
  
  .social-links .link:active {
    color: red;
  }
 */
 /* .social-links .link {
    color: teal;
  }
  
  .social-links .link:hover,
  .social-links .link:focus {
    color: orange;
  }
  
  .social-links .link:active {
    color: red;
  }
  
  .social-links .link:visited {
    color: green;
  } */

  /* .schedule-body > tr:hover {
    background-color: tomato;
    color: white;
  }
   */
  /* Оформление таблицы */
  /* .schedule {
    border-collapse: collapse;
  }
  
  .schedule th,
  .schedule td {
    padding: 8px;
    border: 1px solid #212121;
  } */
/* 
  .auto {
    cursor: auto;
  }
  .default {
    cursor: default;
  }
  .none {
    cursor: none;
  }
  .context-menu {
    cursor: context-menu;
  }
  .help {
    cursor: help;
  }
  .pointer {
    cursor: pointer;
  }
  .progress {
    cursor: progress;
  }
  .wait {
    cursor: wait;
  }
  .cell {
    cursor: cell;
  }
  .crosshair {
    cursor: crosshair;
  }
  .text {
    cursor: text;
  }
  .vertical-text {
    cursor: vertical-text;
  }
  .alias {
    cursor: alias;
  }
  .copy {
    cursor: copy;
  }
  .move {
    cursor: move;
  }
  .no-drop {
    cursor: no-drop;
  }
  .not-allowed {
    cursor: not-allowed;
  }
  .all-scroll {
    cursor: all-scroll;
  }
  .col-resize {
    cursor: col-resize;
  }
  .row-resize {
    cursor: row-resize;
  }
  .n-resize {
    cursor: n-resize;
  }
  .e-resize {
    cursor: e-resize;
  }
  .s-resize {
    cursor: s-resize;
  }
  .w-resize {
    cursor: w-resize;
  }
  .ns-resize {
    cursor: ns-resize;
  }
  .ew-resize {
    cursor: ew-resize;
  }
  .ne-resize {
    cursor: ne-resize;
  }
  .nw-resize {
    cursor: nw-resize;
  }
  .se-resize {
    cursor: se-resize;
  }
  .sw-resize {
    cursor: sw-resize;
  }
  .nesw-resize {
    cursor: nesw-resize;
  }
  .nwse-resize {
    cursor: nwse-resize;
  }
  
  body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  } */

  /* Чистый красный цвет: 255 красного, 0 зеленого, 0 синего */
/* p {
    color: rgb(255, 0, 0);
  }

  p {
    color: rgb(0, 255, 0);
  }


  p {
    color: rgb(0, 0, 255);
  } */

  /* Чистый красный цвет: ff (100%) красного, 00 (0%) зеленого, 00 (0%) синего */
/* p {
    color: #ff0000;
  }
  
  /* Чистый зелёный цвет: 00 (0%) красного, ff (100%) зеленого, 00 (0%) синего */
  /* p {
    color: #00ff00;
  }
   */
  /* Чистый синий цвет: 00 (0%) красного, 00 (0%) зеленого, ff (100%) синего */
  /* p {
    color: #0000ff;
  } */

  /* Чистый красный цвет с прорачностью в 30% */
/* p {
    background-color: rgba(255, 0, 0, 0.3);
  }  */

  /* Каким будет цвет текста абзацев? */
/* p {
    color: blue;
    background-color: orange;
  }
  
  p {
    color: teal;
  } */


  /* Специфичность - 0 0 0 1 */
/* p {
    color: green;
  }
   */
  /* ✅ Специфичность - 0 0 0 2 */
  /* article > p {
    color: orange;
  } */

/* Специфичность - 0 0 1 0 */
/* .post-title {
    color: green;
  }
   */
  /* Специфичность - 0 0 1 1 */
/* .post > h1 {
    color: red;
  } */
  
  /* ✅ Специфичность - 0 0 2 0 */
/* .post > .post-title {
    color: orange;
  } */

  /* Специфичность - 0 0 0 1 */
/* a {
    color: green;
  } */
  
  /* Специфичность - 0 0 1 0 */
  /* .post-link {
    color: orange;
  } */
  
  /* Специфичность - 0 0 1 1 */
  /* a.post-link {
    color: blue;
  }
   */
  /* Специфичность - 0 0 2 0 */
  /* .post > .post-link {
    color: red;
  }
   */
  /* ✅ Специфичность - 0 0 2 1 */
  /* .post > a.post-link {
    color: brown;
  } */


  /* Третий подход
   заключается в задании очень специфичных классов блоку-родителю и каждому тегу внутри него по принципу имя_родителя-имя_ребёнка. */

  /* .post {
    color: green;
  }
  
  .post-link {
    color: currentColor;
  } */
/* 
  .alert {
    --alert-text-color: black;
    --alert-accent-color: tomato;
  }
  
  .alert-text {
    color: var(--alert-text-color);
    border: 1px solid var(--alert-accent-color);
  }
  
  .alert-icon {
    background-color: var(--alert-accent-color);
  }
 */
/* 
 li {
    list-style: none;
    color: green;
  }
  
  .rules >li {
    list-style: upper-roman;
    color: navy;
  }  */

/* 
  .text > span {
    text-decoration: line-through;
  }
  
  .link {
    text-decoration: none;
  } */
/* 
  .post-title {
    text-align: center;
  }
  
  .align-right {
    text-align: right;
  }
   */
   /* .post-title {
    letter-spacing: 10px;
  }
  
  .post-text {
    word-spacing: 5px;
  } */
   /* CREATE A SHADOW */
  /* .title {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  } */
/* 
  .title {
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
  } */
/* span {
  white-space:  pre;
} */
/* .title {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
} */

/* pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
} */

/* pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
} */

/* Let's add text selection styles for each paragraph of the poem. */
/* pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
/* } 

/* .excerpt { */
  /* Sets the border */
  /* border: 2px dashed #2196F3; */

 /* Adds an inner padding */
  /* padding: 15px; */

  /* Sets outer margins  */
  /* margin: 20px;  */

/* 

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.box {
  border: 5px solid tomato;
  padding: 20px;
  margin: 20px;
  margin-bottom: 50px;
}

.box2 {
  border: 5px solid green;
  padding: 20px;

} */